<%= link_to conta_path(@deposito.conta_destino_id), class:"btn btn-default" do  %><i class="fa fa-step-backward "></i> Voltar <% end %>
<%#= link_to 'Show', conta, class:"btn btn-primary" %>


<h1>Novo Deposito</h1>

<%= render 'form' %>

<%#= link_to 'Back', deposito_index_path %>
