<%= link_to conta_path(@deposito.conta_origem_id), class:"btn btn-default" do  %><i class="fa fa-step-backward "></i> Voltar <% end %>

<h1>Novo transfer</h1>

<%= render 'transfer' %>

<%#= link_to 'Back', deposito_index_path %>
